@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F7F9FA;
  font-size: 1.6rem;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
body a {
  text-decoration: none;
}
body ul {
  list-style: none;
}
body::-webkit-scrollbar {
  width: 1.1rem;
  border: 1px solid #F7F9FA;
}
body::-webkit-scrollbar-thumb {
  background: rgba(117, 167, 194, 0.6);
  border-radius: 6px;
}

.wrapper {
  width: min(136rem, 100%);
  margin-inline: auto;
  padding-inline: 15rem;
}

section {
  padding-block: 10rem;
}
section header h4 {
  color: #134D6D;
  text-transform: uppercase;
}
section header h2 {
  color: #75a7c2;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 150%;
}

.menu {
  height: 6vh;
}
.menu .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.menu-logo {
  color: #75a7c2;
  font-size: 4.8rem;
  font-weight: 700;
}
.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.menu-nav a {
  color: #75a7c2;
  font-weight: 600;
  transition: 300ms;
}
.menu-nav a:hover {
  color: #134D6D;
}
.menu-nav a::after {
  content: "";
  background: #134D6D;
  width: 0%;
  height: 2px;
  display: block;
  position: relative;
  bottom: -0.6rem;
  transition: width 0.2s;
}
.menu-nav a:hover::after {
  width: 100%;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 94vh;
}
#header h1 {
  color: #134D6D;
  font-weight: 700;
  font-size: 12rem;
  line-height: 110%;
  width: 66.1rem;
  margin-bottom: 4rem;
}
#header p {
  color: #134D6D;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 110%;
}

#qual_usar_section {
  background: white;
}
#qual_usar_section header h4 {
  margin-bottom: 6rem;
}
#qual_usar_section .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
#qual_usar_section .cards .card {
  background: #F7F9FA;
  text-align: left;
  border: 1px solid rgba(117, 167, 194, 0.6);
  box-shadow: 2px 2px 5px rgba(62, 62, 63, 0.171);
  border-radius: 0.5rem;
  padding: 3rem;
  width: 45%;
  flex-grow: 1;
}
#qual_usar_section .cards .card:hover {
  border-color: #134D6D;
}
#qual_usar_section .cards .card h3 {
  color: #134D6D;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}
#qual_usar_section .cards .card p {
  color: #134D6D;
  margin-bottom: 1rem;
}
#qual_usar_section .cards .card p:last-child {
  margin-bottom: 0;
}

#quiz_section .wrapper {
  display: grid;
  grid-template-columns: 67.9rem 1fr;
  grid-template-areas: "A B";
}
#quiz_section .wrapper .col-a {
  grid-area: A;
  text-align: left;
}
#quiz_section .wrapper .col-a header h4 {
  margin-bottom: 1rem;
}
#quiz_section .wrapper .col-a header h2 {
  width: 59rem;
  margin-bottom: 5rem;
}
#quiz_section .wrapper .col-a .content p {
  color: #134D6D;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 6rem;
  width: 63.2rem;
}
#quiz_section .wrapper .col-a .content .button {
  background: white;
  color: #75a7c2;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(117, 167, 194, 0.6);
  box-shadow: 2px 2px 5px rgba(62, 62, 63, 0.171);
  border-radius: 0.5rem;
  padding: 1.2rem 3rem;
  display: inline-block;
  transition: background 300ms;
}
#quiz_section .wrapper .col-a .content .button:hover {
  background: #134D6D;
  color: white;
  border-color: #134D6D;
}
#quiz_section .wrapper .col-b {
  grid-area: B;
  align-self: center;
  justify-self: center;
}
#quiz_section .wrapper .col-b img {
  width: 19rem;
}

#footer {
  background: #134D6D;
  color: white;
  height: 7vh;
  padding: 2rem;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: #A2CBEB;
}

#backToTopButton {
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 200ms;
  transform: translateY(100%);
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.quiz-container {
  text-align: left;
  height: 93vh;
}
.quiz-container .quiz-header h3 {
  color: #A2CBEB;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.quiz-container .quiz-header h2 {
  color: #134D6D;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}
.quiz-container .quiz-header ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
.quiz-container .quiz-header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.quiz-container .quiz-header label {
  color: #75a7c2;
  font-size: 2.4rem;
  font-weight: 600;
}
.quiz-container .quiz-header a {
  color: #A2CBEB;
  font-weight: 700;
  line-height: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quiz-container #submit {
  background: white;
  color: #75a7c2;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(117, 167, 194, 0.6);
  box-shadow: 2px 2px 5px rgba(62, 62, 63, 0.171);
  border-radius: 0.5rem;
  padding: 1.2rem 3rem;
  display: inline-block;
  transition: background 300ms;
  margin-bottom: 12rem;
}
.quiz-container #submit:hover {
  background: #134D6D;
  color: white;
  border-color: #134D6D;
}

/*# sourceMappingURL=style.css.map */
